AWS_ACCOUNT_ID=
AWS_REGION=
AWS_AVAILABILITY_ZONE=
ICPM_AUTH_TOKEN=
DEBUG_MODE=OFF
WORKER_MODE=PROD
GITHUB_AUTH_TOKEN=
ICPM_CANISTER_ID=
ICPM_CANISTER_ID_LOCAL=
ICPM_ASSETS_CANISTER_ID=
OPEN_ARCHITECTURE_MODE=
